<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="beamlet">{assigns[:page_title]}</.live_title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4">
    </script>
    <script type="module">
      import {Socket} from "/_assets/phoenix/phoenix.mjs"
      import {LiveSocket} from "/_assets/phoenix_live_view/phoenix_live_view.esm.js"

      const csrfToken = document.querySelector("meta[name='csrf-token']").getAttribute("content")
      const liveSocket = new LiveSocket("/_live", Socket, {params: {_csrf_token: csrfToken}})
      liveSocket.connect()
      window.liveSocket = liveSocket
    </script>
  </head>
  <body>
    {@inner_content}
  </body>
</html>
